<header class="page-header" role="banner">
  <h1 style="color: white !important;">Onslow College Digital Technologies</h1>
  <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 100px;">
    <a href="/"><img src="/img/home_nav.png" alt="Home"></a>
    <a href="/11dit"><img src="/img/11dit_nav.png" alt="11DIT"></a>
    <a href="/12dtc"><img src="/img/12dtc_nav.png" alt="12DTC"></a>
    <a href="/13dtc"><img src="/img/13dtc_nav.png" alt="13DTC"></a>
  </div>
</header>
