<div id="breadcrumbs">

  <div class="breadcrumbs-left">
    <div class="dropdown" id="dropdown-generic">
      <a href="/" class="dropdown-icon">
        <image src="/img/home_nav.png">
        <image src="/img/home_nav_hover.png" class="dropdown-icon-hover">
      </a>
      <ul class="dropdown-content">
        <li><a href="/">
            <image src="/img/home.svg"> Home</image>
          </a>
        </li>
        <li><a href="/classroom/setup.html">
            <image src="/img/setup.svg"> Setup Python & VS Code
          </a></li>
        <li><a href="/classroom/github.html">
            <image src="/img/github.svg"> GitHub Guide
          </a></li>
      </ul>
    </div>
    <div class="dropdown" id="dropdown-11dit">
      <a href="/11dit" class="dropdown-icon">
        <image src="/img/11dit_nav.png">
        <image src="/img/11dit_nav_hover.png" class="dropdown-icon-hover">
      </a>
      <ul class="dropdown-content">
        <li><a href="/11dit">
            <image src="/img/home.svg"> Course Outline
          </a></li>
        <li><a href="/11dit/programming">
            <image src="/img/programming.svg"><span>Programming</span>
          </a></li>
        <li><a href="/11dit/design">
            <image src="/img/design.svg"> Design
          </a></li>
        <li><a href="/11dit/hci">
            <image src="/img/hci.svg"> HCI
          </a></li>
      </ul>
    </div>
    <div class="dropdown" id="dropdown-12dtc">
      <a href="/12dtc" class="dropdown-icon">
        <image src="/img/12dtc_nav.png">
        <image src="/img/12dtc_nav_hover.png" class="dropdown-icon-hover">
      </a>
      <ul class="dropdown-content">
        <li><a href="/12dtc">
            <image src="/img/home.svg"> Course Outline
          </a></li>
        <li><a href="/12dtc/programming">
            <image src="/img/programming.svg"> Programming
          </a></li>
        <li><a href="/12dtc/projman">
            <image src="/img/projman.svg"> Project Management
          </a></li>
        <li><a href="/12dtc/database">
            <image src="/img/database.svg"> Database
          </a></li>
        <li><a href="/12dtc/compsci">
            <image src="/img/compsci.svg"> Computer Science
          </a></li>
      </ul>
    </div>
    <div class="dropdown" id="dropdown-13dtc">
      <a href="/13dtc" class="dropdown-icon">
        <image src="/img/13dtc_nav.png">
        <image src="/img/13dtc_nav_hover.png" class="dropdown-icon-hover">
      </a>
      <ul class="dropdown-content">
        <li><a href="/13dtc">
            <image src="/img/home.svg"> Course Outline
          </a></li>
        <li><a href="/13dtc/programming">
            <image src="/img/programming.svg"> Programming
          </a></li>
        <li><a href="/13dtc/projman">
            <image src="/img/projman.svg"> Project Management
          </a></li>
        <li><a href="/13dtc/compsci">
            <image src="/img/compsci.svg"> Computer Science
          </a></li>
      </ul>
    </div>
  </div>

  <div class="breadcrumbs-right">
    <div class="breadcrumb">
      {{ page.title }}
    </div>
  </div>
</div>