<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 50px;">
{% if include.side == "left" %}
{% if include.image %}
<img src="{{ include.image }}" class="left-align">
{% elsif include.emote %}
<p class="left-align"><span class="emote">{{ include.emote }}</span></p>
{% endif %}
{% endif %}

<span class="shout-markdown" markdown="1">{{ include.markdown }}</span>

{% if include.side == "right" %}
{% if include.image %}
<img src="{{ include.image }}" class="right-align">
{% elsif include.emote %}
<p class="right-align"><span class="emote">{{ include.emote }}</span></p>
{% endif %}
{% endif %}
</div>