---
---

th, thead {
    display: none !important;
}


td {
    border-collapse: collapse !important;
    border-style: none !important;
}

td img {
    width: 64px !important;
}

.main-content td {
    vertical-align: middle !important;
}

.main-content td:nth-child(2) {
    padding-left: 50px;
    width: 300px;
}

th {
    visibility: hidden !important;
    height: 1px !important;
}

table tbody tr {
    margin: 200px !important;
}

td:nth-child(2) {
    border-left: solid 21x lightgrey !important;
}

.main-content table th, .main-content table td {
    border-style: none;
}