---
---


td {
    border-collapse: collapse !important;
    border-style: none !important;
}

td img {
    width: 64px !important;
}

th {
    visibility: hidden !important;
    height: 1px !important;
}

table tbody tr {
    margin: 200px !important;
}

td:nth-child(2) {
    border-left: solid 21x lightgrey !important;
}

.main-content table th, .main-content table td {
    border-style: none;
    padding: 0 !important;
}