---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
  margin-top: 5rem !important;
  color: #1c5b52 !important;
}

h1 {
  padding-top: 1rem;
  border-top: 1px solid darkgrey;
  text-decoration: underline;
}

h1:first-of-type {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: none;
  font-size: 30pt;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}

h5 {
  border: 5pt solid;
/* background-color: #159957; */
/* color: white; */
  padding: 1rem;
  font-size: larger;
}

.page-header {
  padding: 1rem 0;
  background: white !important;
  box-shadow: 0 5px 10px darkgrey;
}

.project-name {
  display: none;
}

#lisc {
  border: 1px solid darkgrey;
  background-color: lightgoldenrodyellow;
}

#lisc .lisc-heading {
  color: #1c5b52;
  font-weight: 900;
}

.main-content table {
  display: inline-table;
}