---
---

@import "{{ site.theme }}";
$baseurl: "{{ site.url }}";

:root {
    --onslow-rgb: 28, 91, 82;
    --eleven-rgb: 25, 133, 10;
    --twelve-rgb: 0, 83, 179;
    --thirteen-rgb: 148, 10, 178;

    --main-rgb: var(--onslow-rgb);
    --main-color: rgb(var(--main-rgb));

    --content-indent: 2em;
}

body {
  font-family: 'Lexend', 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6 { color: var(--main-color) !important; }

h1 {
    margin-top: 10rem !important;
    margin-bottom: 2rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid darkgrey;
}

h1:first-of-type {
    margin-top: 5rem !important;
}

h1~p, h1~ul, h1~ol, h1~.highlighter-rouge, h1~table {
    margin-left: var(--content-indent) !important;
}

h1~table {
    width: calc(100% - var(--content-indent)) !important;
    margin: 6px;
    margin-left: var(--content-indent);
}

h2 {
    margin-top:2.5rem !important;
}

h5 {
    border: 5pt solid;
    padding: 1rem;
    font-size:larger
}

#breadcrumbs {
    display: grid;
    grid-template-areas: 'left right';
    color: black;
    padding-left: 10px;
    padding-right:10px
}

.invert {
    filter:invert(90%)
}

.invert:hover {
    filter:invert(100%) drop-shadow(0px 0px 5px #fff)
}

@media only screen and (max-width: 800px) {
    #breadcrumbs .breadcrumb {
        display:none
    }

    #toc {
        display:block
    }

    .page-header {
        padding:1rem 0 !important
    }

    .dropdown-content {
        left: 28px !important;
        width: 95% !important;
    }
}

#breadcrumbs .breadcrumbs-left {
    grid-area:left
}

#breadcrumbs .breadcrumbs-right {
    grid-area: right;
    text-align: right
}

#breadcrumbs .breadcrumbs-right a {
    color:white
}

#breadcrumbs img {
    vertical-align: middle
}

.breadcrumb {
    display: inline-block;
    height: 64px;
    line-height: 64px;
    color: white;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis
}

.dropdown {
    position: relative;
    display:inline-block
}

.dropdown img {
    width: 48px;
    margin: 8px 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 4em;
    transform: translateX(-1em);
    width: 300px;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 1.0);
    @supports (backdrop-filter: blur(16px)) or (-webkit-backdrop-filter: blur(16px)) {
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
    }
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    border-radius: 8px;
}

.dropdown-icon {
    width: 64px;
    height: 64px;
    display: block;
    position: relative;
}

.dropdown-icon .dropdown-icon-hover {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transition: opacity .1s;
}

.dropdown-icon:hover .dropdown-icon-hover {
    opacity: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: white;
    border-radius:6px;
}

#dropdown-generic li a:hover {
    background-color: rgb(var(--onslow-rgb));
}

#dropdown-11dit li a:hover {
    background-color: rgb(var(--eleven-rgb));
}

#dropdown-12dtc li a:hover {
    background-color: rgb(var(--twelve-rgb));
}

#dropdown-13dtc li a:hover {
    background-color: rgb(var(--thirteen-rgb));
}

.dropdown-content a:hover img {
    filter:invert(100%)
}

.dropdown:hover .dropdown-content {
    display:inline-block
}

#toc {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 20px;
    display:block
}

#page-title {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: none;
    font-size: 30pt;
    line-height: 1.5em;
    font-weight: 900;
    text-decoration: none;
    text-align:center
}

.page-header {
    padding: 1rem 2em;
    background: var(--main-color) !important;
    background-color: var(--main-color);
    @supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
        background-color: rgba(var(--main-rgb), 0.8) !important;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter:blur(8px)
    }
    box-shadow: 0 5px 10px darkgrey;
    text-align: left;
    height: calc(72px + 1rem);
    width: 100%;
    position: fixed;
    z-index: 3;
}

.page-header-background {
    background-color: white;
    height: calc(72px + 1rem);
    width: 100%;
    position: fixed;
    z-index: 1;
}

.main-content {
    padding-top: 8em;
    position: relative;
    z-index: 2;
}

.project-name {
    display:none
}

#lisc {
    border: 1px solid darkgrey;
    background-color: lightgoldenrodyellow;
    padding:1rem
}

#lisc .lisc-heading {
    color: #1c5b52;
    font-weight:900
}

.main-content {
    line-height:2em
}

.main-content img {
    max-height:300px
}

.main-content table {
    display:inline-table
}

.main-content code {
    font-family: Menlo, Monaco, Consolas, monospace;
    font-weight:500
}

.main-content table thead {
    background-color:gainsboro
}

.main-content table th, .main-content table td {
    border: 1px solid grey;
    vertical-align:top
}

.highlight .cm, .highlight .c1, .highlight .cs, .highlight .c, .highlight .cd, .highlight .ge {
    font-style:italic
}

.highlight .cp, .highlight .cs, .highlight .gs, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .k, .highlight .kv, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf, .highlight .nl, .highlight .ow, .highlight .o {
    font-weight: 700
}