---
---

@import "{{ site.theme }}";

body {
  font-family: 'Lexend', 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1c5b52 !important;
}

h1 {
  margin-top: 5rem !important;
  padding-top: 5rem;
  border-top: 1px solid black;
}

h1:first-of-type {
  border-top: none !important;
}

h2 {
  margin-top: 2.5rem !important;
}

h5 {
  border: 5pt solid;
/* background-color: #159957; */
/* color: white; */
  padding: 1rem;
  font-size: larger;
}

#breadcrumbs {
  display: grid;
  grid-template-areas: 'left right';
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.invert {
  filter: invert(100%);
}

.invert:hover {
  filter: invert(100%) drop-shadow(0px 0px 5px white);
}

@media only screen and (max-width: 720px) {
  #breadcrumbs .breadcrumb-text {
    display: none;
  }

  #breadcrumbs .hideable {
    display: none;
  }
}

#breadcrumbs .breadcrumbs-left {
  grid-area: left;
}

#breadcrumbs .breadcrumbs-right {
  grid-area: right;
  text-align: right;
}

#breadcrumbs .breadcrumbs-right a {
  color: white;
}

#breadcrumbs img {
  vertical-align: middle;
}

.breadcrumb {
  display: inline-block;
  height: 64px;
  line-height: 64px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style-type: none;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 8px;
  opacity: 95%;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  filter: invert(100%);
  background-color: white;
  border-radius: 6px;
}

.dropdown:hover .dropdown-content {
  display:inline;
}

#page-title {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: none;
  font-size: 30pt;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
}

.page-header {
  padding: 1rem 0;
  background: #1c5b52 !important;
  box-shadow: 0 5px 10px darkgrey;
  text-align: left;
}

.project-name {
  display: none;
}

#lisc {
  border: 1px solid darkgrey;
  background-color: lightgoldenrodyellow;
  padding: 1rem;
}

#lisc .lisc-heading {
  color: #1c5b52;
  font-weight: 900;
}

.main-content {
  line-height: 2em;
}

.main-content table {
  display: inline-table;
}

.main-content code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-weight: 500;
}

.highlight .cm, .highlight .c1, .highlight .cs, .highlight .c, .highlight .cd, .highlight .ge { font-style: italic; }

.highlight .cp, .highlight .cs, .highlight .gs, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .k, .highlight .kv, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .nf, .highlight .nl, .highlight .ow, .highlight .o { font-weight: 700; }