<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/xcode.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>

<body>
    {% include breadcrumbs.html %}

    <input type="checkbox" id="tabs-toggle-chck" style="display: none">
    <main id="content" class="main-content" role="main">
        <div id="course">
            <div id="page-title">{{ page.title }}</div>

            <article>
                {% if page.learning_intentions %}
                {% if page.success_criteria %}
                <div id="lisc">
                    {% include lisc.html learning_intentions=page.learning_intentions success_criteria=page.success_criteria %}
                </div>
                {% endif %}
                {% endif %}
                {{ content }}
            </article>
        </div>

        {% include footer.html %}
    </main>
    <script type="text/javascript" src="/js/lightbox.js"></script>
    <link rel="stylesheet" href="/css/lightbox.css">
</body>

</html>